:host {
  display: block;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-form-field {
  width: 50%;
}
.paginator {
  margin-top: auto;
}
.courses-list {
  height: 100%;
  width: 100%;
  position: relative;
}
.spinner {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
