:host {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}
a {
  width: 100%;
}
mat-card-actions {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 5px;
}
