@use "@angular/material" as mat;
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.active {
  color: mat.get-color-from-palette(mat.$deep-purple-palette, A100) !important;
}
mat-nav-list {
  text-align: center;
}
.sidenav {
  width: 50%;
}
.content {
  padding: 10px 0;
  min-height: 90vh;
}
footer {
  background-color: mat.get-color-from-palette(mat.$deep-purple-palette, 500);
  padding: 25px 0 25px 0;
  text-align: center;
  span {
    font-size: 18px;
    color: #fff;
  }
}
