:host {
  display: block;
}
mat-card {
  height: 100%;
}
mat-card-actions {
  margin-top: auto;
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
mat-chip {
  margin-left: auto;
}
