:host {
  display: block;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-card {
  width: 50%;
  padding: 10px;
}
mat-card-content {
  display: flex;
  flex-direction: column;
}
mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}
.successful-update {
  text-align: center;
  font-size: 18px;
  color: green;
}
